fastapi
uvicorn
python-dotenv
google-generativeai
langchain-google-genai
langchain
langchain-community
langchain-core
pypdf
python-docx
chromadb
tiktoken
pydantic
docx2txt
langchain-chromadb
pymongo
langchain-mongodb